<!DOCTYPE html>
<html lang="ru">
<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Диспетчер СУ</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
    	<link rel="stylesheet" href="/css/styles.css" />
	
    	<link rel="stylesheet" href="terminal/xterm.css" />
    	<link rel="stylesheet" href="terminal/style.css" />    
    	

</head>
  
<body>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
	<!--img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""-->
	Диспетчер СУ</a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/events">События</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/devices">Устройства</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/users">Пользователи</a>
        </li>
        <!--li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Выпадающий список
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Действие</a></li>
            <li><a class="dropdown-item" href="#">Другое действие</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Отключенная</a>
        </li-->
      </ul>
      
        <!--input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск"-->
		{{if .UserName}}
		<span class="navbar-text username">
		{{ .UserName }}
		</span>
		<form class="d-flex table-page" action="/logout" method="POST">
		<input type="hidden" name="backLink" value={{.BackLink}}>
        <button class="btn btn-outline-primary" type="submit" >Выход</button>
		</form>
		{{else}}
		<form class="d-flex">
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#authModal">Вход</button>
		</form>
		{{end}}
    </div>
	
  </div>
</nav>




<!-- Модальное окно АВТОРИЗАЦИИ-->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/login" method="POST">
      <div class="modal-body">
		<input type="hidden" name="backLink" value={{.BackLink}}>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Логин:</label>
			<input type="text" class="form-control" name="login" id="login" value="" />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Пароль:</label>
			<input type="text" class="form-control" name="password" id="password" value="" />
          </div>
		 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Войти</button>
      </div>
	  </form>
    </div>
  </div>
</div>
  
  
<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-outline-primary btn-sm add" data-bs-toggle="modal" data-bs-target="#insertModal">
  Добавить
</button> 

<button class="btn btn-outline-primary btn-sm add" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTopTerminal" aria-controls="offcanvasTop">Терминал</button>

<button id="btnRefresh" class="btn btn-outline-primary btn-sm add" type="button">Обновить</button>


<!-- Модальное окно ДОБАВИТЬ-->
<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить устройство</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/insert_device" method="POST">
      <div class="modal-body">
        <input type="hidden" name="backLink" value={{.BackLink}}>
          <!--div class="mb-3">
            <label for="recipient-name" class="col-form-label">Название устройства:</label>
			<input type="text" class="form-control" name="name" id="name" value="" />
          </div-->
          <div class="mb-3">
            <label for="message-text" class="col-form-label">IP адрес:</label>
			<input type="text" class="form-control" name="ipaddr" id="ipaddr" value="" />
            <!--textarea class="form-control" id="message-text"></textarea-->
          </div>
		 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Добавить</button>
      </div>
	  </form>
    </div>
  </div>
</div>



  
{{if .Message }}
<p id="app" class="bg-warning table-page">{{ .Message }}</p>
{{end}}




<table class="table table-bordered table-dark table-page">
  <!--thead-->
  <tr>
    <!--th scope="col">id</th-->
    <th scope="col">gnss/ptp</th>
    <th scope="col">Режим</th>
    <th scope="col">Название</th>
    <th scope="col">gnss ref</th>
    <th scope="col">ptp ref</th>
    <th scope="col">IP адрес</th>
    <th scope="col">Версия прошивки</th>
    <th scope="col"></th>
  </tr>
  <!--/thead-->
  
  
<script>
	let arrID = [ ]; // Массив Id и IP-адресов
</script>  
  

  {{range .Objects}}
  <tr>
    <!--td>{{ .Id }}</td-->
    <td width="50px">
    
    <div id="mesg_base{{ .Id }}" style="margin-right: 10px; line-height: 2; text-align: center;">
{{ if .GNSS }}
        <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#198754' class='bi bi-circle-fill' viewBox='0 0 16 16'><circle cx='8' cy='8' r='8'/></svg>
     {{ else }}  
     <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#dc3545' class='bi bi-circle-fill' viewBox='0 0 16 16'><circle cx='8' cy='8' r='8'/></svg>
     {{ end }} 
        
        
         /

{{ if .PTP }}
        <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#198754' class='bi bi-circle-fill' viewBox='0 0 16 16'><circle cx='8' cy='8' r='8'/></svg>
     {{ else }}  
     <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#dc3545' class='bi bi-circle-fill' viewBox='0 0 16 16'><circle cx='8' cy='8' r='8'/></svg>
     {{ end }} 

    </div>
    
    </td>
     <td style="text-transform:uppercase" width="50px">{{ .PZG_VZG }}</td>
    <td class="name">{{ .Name }}</td>
    
    <td id="gnss_ref{{ .Id }}"><div id="seven-seg-array-gnss_ref{{ .Id }}" class="seven-seg"></div></td>
    <td id="ptp_ref{{ .Id }}" ><div id="seven-seg-array-ptp_ref{{ .Id }}" class="seven-seg"></div></td>
    
    <td class="ipaddr" width="70px">{{ .IPaddr }}</td>
    
<script>
	arrID.push({Id: "{{ .Id }}", IPaddr: "{{ .IPaddr }}"});  // Добавление в массив
</script> 
    
    
    <td class="version" width="170px">{{ .Version }}</td>
	
	<td class="flex">
	
	<a class="btn btn-warning btn-sm add" href="http://{{ .IPaddr }}/index.html" target="_blank" role="button">Menu</a>
  	<a class="btn btn-outline-warning btn-sm add" href="http://{{ .IPaddr }}/sync.html" target="_blank" role="button">Sync</a>
  	<a class="btn btn-outline-warning btn-sm add" href="http://{{ .IPaddr }}/ptp{{ .PZG_VZG }}.html" target="_blank" role="button">PTP</a>
  	<a class="btn btn-outline-warning btn-sm add" href="http://{{ .IPaddr }}/gnss.html" target="_blank" role="button">GNSS</a>
	
	
	<button class="btn btn-outline-primary btn-sm add btnStatusCurl" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop{{ .Id }}" aria-controls="offcanvasTop" btnId="{{ .Id }}" btnIP="{{ .IPaddr }}">Debug</button>
	

	<!--button type="button" class="btn btn-primary btns btn-sm add" data-bs-toggle="modal" data-bs-target="#updateModal{{ .Id }}">
		Изменить IP-адрес
	</button>
	
	<button type="button" class="btn btn-danger btn-sm add" data-bs-toggle="modal" data-bs-target="#deleteModal{{ .Id }}">
	Удалить
	</button-->
	</td>
	
<!-- Модальное окно ИЗМЕНИТЬ-->
<div class="modal fade" id="updateModal{{ .Id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Изменить устройство</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/update_device" method="POST">
	  
      <div class="modal-body">
          <!--div class="mb-3">
            <label for="recipient-name" class="col-form-label">Название устройства:</label>
			<input type="text" class="form-control" name="name" id="name" value="{{ .Name }}" />
          </div-->
          <div class="mb-3">
            <input type="hidden" name="id" value={{ .Id }}>
            <label for="message-text" class="col-form-label">IP адрес:</label>
			<input type="text" class="form-control" name="ipaddr" id="ipaddr" value="{{ .IPaddr }}" />
            <!--textarea class="form-control" id="message-text"></textarea-->
          </div>
		 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Изменить</button>
      </div>
	  </form>
    </div>
  </div>
</div>


<!-- Модальное окно УДАЛИТЬ-->
<div class="modal fade" id="deleteModal{{ .Id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удалить устройство?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/delete_device" method="POST">
	
      <div class="modal-body">
		<label for="message-text" class="col-form-label">Вы действительно хотите удалить устройство {{ .Name }} ?</label>
        <input type="hidden" name="id" value={{ .Id }}>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Удалить</button>
      </div>
	  </form>
    </div>
  </div>
</div>


	
	
  </tr>
  {{end}}
</table>  





<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center pagination-sm">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="{{ .BackLink }}?page={{ .PrevPage }}">{{ .PrevPage }}</a></li>
    <li class="page-item"><a class="page-link" href="{{ .BackLink }}?page={{ .CurPage }}">{{ .CurPage }}</a></li>
    <li class="page-item"><a class="page-link" href="{{ .BackLink }}?page={{ .NextPage }}">{{ .NextPage }}</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>




{{range .Objects}}
<div class="offcanvas offcanvas-top bg-black text-white" style="height: 80vh" tabindex="-1" id="offcanvasTop{{ .Id }}" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
  <div class="d-flex"> 

    <h5 id="offcanvasTopLabel{{ .Id }}">{{ .Name }}</h5>
    
    <button class="btn btn-outline-warning btn-sm add btnBaseCurl" btnId="{{ .Id }}" btnIP="{{ .IPaddr }}" btnCmd="getver">Обновить в базе</button>
    <button type="button" class="btn btn-primary btn-sm add" data-bs-toggle="modal" data-bs-target="#updateModal{{ .Id }}">Изменить IP-адрес</button>
    <button type="button" class="btn btn-danger btns btn-sm add" data-bs-toggle="modal" data-bs-target="#deleteModal{{ .Id }}">Удалить</button>
</div>



    <button type="button" class="btn btn-outline-secondary btns btn-sm add text-reset" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
  </div>
  
  <div class="offcanvas-body">
  
  <div class="d-flex">
  <div>
  
  <div id="mesg{{ .Id }}" style="margin-right: 10px; line-height: 2">
        gnss &nbsp; <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#198754' class='bi bi-circle-fill' viewBox='0 0 16 16'><circle cx='8' cy='8' r='8'/></svg> &nbsp; 
    	ptp &nbsp; <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#dc3545' class='bi bi-circle-fill' viewBox='0 0 16 16'><circle cx='8' cy='8' r='8'/></svg>
  </div>
    
    
    <table class="table table-dark table-sm" style="width: 600px;">
      <tr>
        <td><label for="message-text" class="col-form-label">IP-адрес:</label></td>
        <td><label id="ipaddr{{ .Id }}" for="message-text" class="col-form-label"></label>
      </tr>
      <tr>
        <td><label for="message-text" class="col-form-label">Режим:</label></td>
        <td><label id="status{{ .Id }}" for="message-text" class="col-form-label"></label>
      </tr>
      <!--tr>
        <td><label for="message-text" class="col-form-label">GNSS:</label></td>
        <td><label id="gnss{{ .Id }}" for="message-text" class="col-form-label"></label>
      </tr>
      <tr>
        <td><label for="message-text" class="col-form-label">PTP:</label></td>
        <td><label id="ptp{{ .Id }}" for="message-text" class="col-form-label"></label>
      </tr-->
      <tr>
        <td><label for="message-text" class="col-form-label">Версия прошивки:</label></td>
        <td><label id="version{{ .Id }}" for="message-text" class="col-form-label"></label>
      </tr>
  </table>
 </div>
 
<div class="d-grid col-1">
  <a class="btn btn-dark btn-sm add" href="http://{{ .IPaddr }}/index.html" target="_blank" role="button">Menu</a>
  <a class="btn btn-dark btn-sm add" href="http://{{ .IPaddr }}/sync.html" target="_blank" role="button">Sync</a>
  <a class="btn btn-dark btn-sm add" href="http://{{ .IPaddr }}/ptp{{ .PZG_VZG }}.html" target="_blank" role="button">PTP</a>
  <a class="btn btn-dark btn-sm add" href="http://{{ .IPaddr }}/gnss.html" target="_blank" role="button">GNSS</a>
</div>

</div>
  
  <div class="d-flex">
  <table>
      <tr>
        <td><textarea rows="25" cols="80" class="usage" id="spar{{ .Id }}"></textarea></td>
      </tr>
  </table>
  

  
  <div class="d-grid col-2">
	<button class="btn btn-outline-primary btn-sm add btnCurl" btnId="{{ .Id }}" btnIP="{{ .IPaddr }}" btnCmd="getgnss">GNSS</button> 
	<button class="btn btn-outline-primary btn-sm add btnCurl" btnId="{{ .Id }}" btnIP="{{ .IPaddr }}" btnCmd="stgpsmon">Состояние приемника</button>
	<button class="btn btn-outline-primary btn-sm add btnCurl" btnId="{{ .Id }}" btnIP="{{ .IPaddr }}" btnCmd="getver">Версия и параметры названия</button> 
	<button class="btn btn-outline-primary btn-sm add btnCurl" btnId="{{ .Id }}" btnIP="{{ .IPaddr }}" btnCmd="getconfig">Настройки сети</button> 
	<button class="btn btn-outline-primary btn-sm add btnCurl" btnId="{{ .Id }}" btnIP="{{ .IPaddr }}" btnCmd="getmac">МАС-адрес и серийный номер</button> 
	<button class="btn btn-outline-primary btn-sm add btnCurl" btnId="{{ .Id }}" btnIP="{{ .IPaddr }}" btnCmd="getsync">Конфигурация синхронизации</button> 
	<button class="btn btn-outline-primary btn-sm add btnCurl" btnId="{{ .Id }}" btnIP="{{ .IPaddr }}" btnCmd="getptp">Конфигурация PTP</button> 
	<button class="btn btn-outline-primary btn-sm add btnCurl" btnId="{{ .Id }}" btnIP="{{ .IPaddr }}" btnCmd="getptpdata">Данные состояния PTP</button> 
    </div>
  
  </div>
  
  <!--table>
      <tr>
      <form id="formRunCmd"> 
        <td>Команда</td>
        <td><input id="exec" name="exec" class="form-control"></td>
        <td><button type="submit" class="btn btn-outline-primary btn-sm add">Выполнить команду</button></td>
      </form>
      </tr>
  </table-->
  


   
  </div>
  
</div>
{{end}}





<div class="offcanvas offcanvas-top bg-black text-white" style="height: 80vh" tabindex="-1" id="offcanvasTopTerminal" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasTopLabel">Терминал</h5>
    <button type="button" class="btn btn-outline-secondary btns btn-sm add text-reset" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
  </div>
  <div class="offcanvas-body d-flex">
  
  <div id="terminal-container"></div>
  <script defer src="/scripts/terminal.js"></script>
   
  </div> 
</div>














<script src="/scripts/ajax.googleapis.com_ajax_libs_jquery_2.2.0_jquery.min.js"></script> 
<script src="/scripts/jquery-ui.min.js"></script>
<script src="/scripts/ajax.aspnetcdn.com_ajax_knockout_knockout-2.2.1.js"></script>
<script src="/scripts/sevenSeg.js"></script>

<script src="terminal/xterm.js"></script>
<script src="terminal/attach.js"></script>
<script src="terminal/fit.js"></script>

<script src="/scripts/longpoll.js"></script>

<script src="/scripts/bootstrap.bundle.min.js"></script>
 

<script src="/scripts/buttons.js"></script>
	
<script src="/scripts/messages.js"></script>

</body>	
</html>
