<!DOCTYPE html>
<html lang="ru">
<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Диспетчер СУ</title>
    	
    	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    	
	<!-- Terminal -->
    	<link rel="stylesheet" href="/css/terminal/xterm.css" />
    	<link rel="stylesheet" href="/css/terminal/style.css" />  
    	
    	<!-- My styles -->
    	<link rel="stylesheet" href="/css/styles.css" />  
</head>
  
<body>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
	<!--img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""-->
	Диспетчер СУ</a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/events">События</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/devices">Устройства</a>
        </li>
		<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users">Пользователи</a>
        </li>
        <!--li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Выпадающий список
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Действие</a></li>
            <li><a class="dropdown-item" href="#">Другое действие</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Отключенная</a>
        </li-->
      </ul>
      
        <!--input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск"-->
		{{if .UserName}}
		<span class="navbar-text username">
		{{ .UserName }}
		</span>
		<form class="d-flex table-page" action="/logout" method="POST">
		<input type="hidden" name="backLink" value={{.BackLink}}>
        <button class="btn btn-outline-primary" type="submit" >Выход</button>
		</form>
		{{else}}
		<form class="d-flex">
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#authModal">Вход</button>
		</form>
		{{end}}
    </div>
	
  </div>
</nav>

<!-- Модальное окно АВТОРИЗАЦИИ-->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/login" method="POST">
      <div class="modal-body">
		<input type="hidden" name="backLink" value={{.BackLink}}>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Логин:</label>
			<input type="text" class="form-control" name="login" id="login" value="" />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Пароль:</label>
			<input type="text" class="form-control" name="password" id="password" value="" />
          </div>
		 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Войти</button>
      </div>
	  </form>
    </div>
  </div>
</div>
  
  
<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-outline-primary btn-sm add" data-bs-toggle="modal" data-bs-target="#insertModal">
  Добавить
</button> 

<button class="btn btn-outline-primary btn-sm add" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTopTerminal" aria-controls="offcanvasTop">Терминал</button>

<button id="btnRefresh" class="btn btn-outline-primary btn-sm add" type="button">Обновить</button>


<!-- Модальное окно ДОБАВИТЬ-->
<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить пользователя</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/insert_user" method="POST">
      <div class="modal-body">
        <input type="hidden" name="backLink" value={{.BackLink}}>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Имя пользователя:</label>
			<input type="text" class="form-control" name="name" id="name" value="" />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Логин:</label>
			<input type="text" class="form-control" name="login" id="login" value="" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Пароль:</label>
			<input type="text" class="form-control" name="password" id="password" value="" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Роль:</label>
			<input type="text" class="form-control" name="role" id="role" value="" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Добавить</button>
      </div>
	  </form>
    </div>
  </div>
</div>



  
{{if .Message }}
<p id="app" class="bg-warning table-page">{{ .Message }}</p>
{{end}}





<table class="table table-bordered table-dark table-page">
  <!--thead-->
  <tr>
    <th scope="col">id</th>
	<th scope="col">Имя пользователя</th>
	<th scope="col">Логин</th>
    <th scope="col">Пароль</th>
    <th scope="col">Роль</th>
	<th scope="col"></th>
  </tr>
  <!--/thead-->

  {{range .Objects}}
  <tr>
    <td>{{ .Id }}</td>
	<td>{{ .UserName }}</td>
	<td>{{ .Login }}</td>
    <td>{{ .Pswd }}</td>
	<td>{{ .UserRole }}</td>

	
	
	<td class="flex">
	<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ .Id }}">
	Удалить
	</button>

	<button type="button" class="btn btn-primary btns btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal{{ .Id }}">
		Изменить
	</button>
	</td>
	
<!-- Модальное окно ИЗМЕНИТЬ-->
<div class="modal fade" id="updateModal{{ .Id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Изменить пользователя</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/update_user" method="POST">
	  
      <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Имя пользователя:</label>
			<input type="hidden" name="id" value={{ .Id }}>
			<input type="text" class="form-control" name="name" id="name" value="{{ .UserName }}" />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Логин:</label>
			<input type="text" class="form-control" name="login" id="login" value="{{ .Login }}" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Пароль:</label>
			<input type="text" class="form-control" name="password" id="password" value="{{ .Pswd }}" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Роль:</label>
			<input type="text" class="form-control" name="role" id="role" value="{{ .UserRole }}" />
          </div>
		 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Изменить</button>
      </div>
	  </form>
    </div>
  </div>
</div>




<!-- Модальное окно УДАЛИТЬ-->
<div class="modal fade" id="deleteModal{{ .Id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удалить пользователя?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/delete_user" method="POST">
	
      <div class="modal-body">
		<label for="message-text" class="col-form-label">Вы действительно хотите удалить пользователя {{ .UserName }} ?</label>
        <input type="hidden" name="id" value={{ .Id }}>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Удалить</button>
      </div>
	  </form>
    </div>
  </div>
</div>
	
  </tr>
  {{end}}
</table>  


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center pagination-sm">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="{{ .BackLink }}?page={{ .PrevPage }}">{{ .PrevPage }}</a></li>
    <li class="page-item"><a class="page-link" href="{{ .BackLink }}?page={{ .CurPage }}">{{ .CurPage }}</a></li>
    <li class="page-item"><a class="page-link" href="{{ .BackLink }}?page={{ .NextPage }}">{{ .NextPage }}</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>



<div class="offcanvas offcanvas-top bg-black text-white" style="height: 80vh" tabindex="-1" id="offcanvasTopTerminal" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasTopLabel">Терминал</h5>
    <button type="button" class="btn btn-outline-secondary btns btn-sm add text-reset" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
  </div>
  <div class="offcanvas-body d-flex">
  
  <div id="terminal-container"></div>
  <script defer src="/scripts/terminal/terminal.js"></script>
   
  </div> 
</div>




<!-- React -->
<script src="scripts/react/unpkg.com_react@18.2.0_umd_react.production.min.js"></script>
<script src="scripts/react/unpkg.com_react-dom@18.2.0_umd_react-dom.production.min.js"></script>
<script src="scripts/react/unpkg.com_@babel_standalone@7.22.9_babel.min.js"></script>

<!-- AJAX -->
<script src="/scripts/ajax.googleapis.com_ajax_libs_jquery_2.2.0_jquery.min.js"></script> 

<!-- sevenSeg -->
<script src="/scripts/sevenSeg/jquery-ui.min.js"></script>
<script src="/scripts/sevenSeg/ajax.aspnetcdn.com_ajax_knockout_knockout-2.2.1.js"></script>
<script src="/scripts/sevenSeg/sevenSeg.js"></script>

<!-- Terminal -->
<script src="/scripts/terminal/xterm.js"></script>
<script src="/scripts/terminal/attach.js"></script>
<script src="/scripts/terminal/fit.js"></script>

<!-- Bootstrap -->
<script src="/scripts/bootstrap/bootstrap.bundle.min.js"></script>
 
<!-- My scripts --> 
<script src="/scripts/longpoll.js"></script>
<script src="/scripts/buttons.js"></script>
<script src="/scripts/messages.js"></script>
<script type="text/babel" src="/scripts/react.js"></script>

</body>	
</html>
