<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Устройства</title>
	<!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
	
	<style>
	myModal.in{
    z-index: 999999;
}
	</style>
</head>
  
<body>

  
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
	<!--img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""-->
	События</a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/events">События</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/devices">Устройства</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/users">Пользователи</a>
        </li>
        <!--li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Выпадающий список
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Действие</a></li>
            <li><a class="dropdown-item" href="#">Другое действие</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Отключенная</a>
        </li-->
      </ul>
      
        <!--input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск"-->
		{{if .UserName }}
		<span class="navbar-text">
		{{ .UserName }}
		</span>
		<form class="d-flex table-page" action="/logout" method="POST">
		<input type="hidden" name="backLink" value={{.BackLink}}>
        <button class="btn btn-outline-primary" type="submit" >Выход</button>
		</form>
		{{else}}
		<form class="d-flex">
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#authModal">Вход</button>
		</form>
		{{end}}
		
      
    </div>
	
  </div>
</nav>


<!-- Модальное окно АВТОРИЗАЦИИ-->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/login" method="POST">
      <div class="modal-body">
		<input type="hidden" name="backLink" value={{.BackLink}}>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Логин:</label>
			<input type="text" class="form-control" name="login" id="login" value="" />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Пароль:</label>
			<input type="text" class="form-control" name="password" id="password" value="" />
          </div>
		 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Войти</button>
      </div>
	  </form>
    </div>
  </div>
</div>
  
  
<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-outline-primary btn-sm add" data-bs-toggle="modal" data-bs-target="#insertModal">
  Добавить
</button> 


<!-- Модальное окно ДОБАВИТЬ-->
<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить событие</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/insert_event" method="POST">
      <div class="modal-body">
        <input type="hidden" name="backLink" value={{.BackLink}}>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Время:</label>
			<input type="text" class="form-control" name="time" id="time" value="" />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Объект:</label>
			<input type="text" class="form-control" name="object" id="object" value="" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Тип события:</label>
			<input type="text" class="form-control" name="level" id="level" value="" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Источник:</label>
			<input type="text" class="form-control" name="source" id="source" value="" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Идентификатор события:</label>
			<input type="text" class="form-control" name="ident" id="ident" value="" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Детали:</label>
			<input type="text" class="form-control" name="body" id="body" value="" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Просмотрено:</label>
			<input type="text" class="form-control" name="is_check" id="is_check" value="" />
          </div>
		 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Добавить</button>
      </div>
	  </form>
    </div>
  </div>
</div>



  
{{if .Message }}
<p id="app" class="bg-warning table-page">{{ .Message }}</p>
{{end}}







<table class="table table-bordered table-dark table-page">
  <!--thead-->
  <tr>
    <th scope="col">id</th>
	<th scope="col">Время события</th>
	<th scope="col">Объект</th>
    <th scope="col">Тип события</th>
    <th scope="col">Источник</th>
	<th scope="col">Идентификатор события</th>
	<th scope="col">Детали</th>
	<th scope="col">Просмотрено</th>
	<th scope="col"></th>
  </tr>
  <!--/thead-->

  {{range .Objects}}
  <tr>
    <td>{{ .Id }}</td>
	<td>{{ .Time }}</td>
	<td>{{ .Obj_id }}</td>
    <td>{{ .Level }}</td>
	<td>{{ .Source }}</td>
	<td>{{ .Event }}</td>
	<td>{{ .Body }}</td>
	<td>{{ .Is_checked }}</td>
	
	
	<td class="flex">
	<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ .Id }}">
	Удалить
	</button>
	
	<button type="button" class="btn btn-primary btns btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal{{ .Id }}">
		Изменить
	</button>
	</td>
	
<!-- Модальное окно ИЗМЕНИТЬ-->
<div class="modal fade" id="updateModal{{ .Id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Изменить событие</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/update_event" method="POST">
	  
      <div class="modal-body">
                    <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Время:</label>
			<input type="hidden" name="id" value={{ .Id }}>
			<input type="text" class="form-control" name="time" id="time" value="{{ .Time }}" />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Объект:</label>
			<input type="text" class="form-control" name="object" id="object" value="{{ .Obj_id }}" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Тип события:</label>
			<input type="text" class="form-control" name="level" id="level" value="{{ .Level }}" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Источник:</label>
			<input type="text" class="form-control" name="source" id="source" value="{{ .Source }}" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Идентификатор события:</label>
			<input type="text" class="form-control" name="ident" id="ident" value="{{ .Event }}" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Детали:</label>
			<input type="text" class="form-control" name="body" id="body" value="{{ .Body }}" />
          </div>
		  <div class="mb-3">
            <label for="message-text" class="col-form-label">Просмотрено:</label>
			<input type="text" class="form-control" name="is_check" id="is_check" value="{{ .Is_checked }}" />
          </div>
		 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Изменить</button>
      </div>
	  </form>
    </div>
  </div>
</div>


<!-- Модальное окно УДАЛИТЬ-->
<div class="modal fade" id="deleteModal{{ .Id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удалить событие?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
	  <form action="/delete_event" method="POST">
	
      <div class="modal-body">
		<label for="message-text" class="col-form-label">Вы действительно хотите удалить событие {{ .Event }} ?</label>
        <input type="hidden" name="id" value={{ .Id }}>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Удалить</button>
      </div>
	  </form>
    </div>
  </div>
</div>
	
  </tr>
  {{end}}
</table>  


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center pagination-sm">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>



<!-- Дополнительный JavaScript; выберите один из двух! -->
<!-- Вариант 1: Bootstrap в связке с Popper -->
<!--script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script-->
<script src="/scripts/bootstrap.bundle.min.js"></script>
<!-- Вариант 2: Bootstrap JS отдельно от Popper-->
<!--script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->

</body>		
</html>