.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
	
.add {
    margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.btns {
    margin-left: 10px;
}

.table-page {
	/*margin-left: 10px;*/
}

.username {
	padding-right: 0.5rem;
}




.demo {
      border: 1px dashed #AFAFAF;
      width: 500px;
}

#terminal {
      font-family: fantasy;
      line-height: 32px;
      padding: 5px;
}

.usage {
      font-family: Consolas, Menlo, Monaco, monospace;
      background-color: #2A242D;
      color: #FDFBFB;
      font-size: 12px;
      
      border:1px solid gray;
}














